body {
    text-align: center;
    padding: 5px 5%;
    background-image: url('../img/bd1.jpg');
    background-size: 100%;
    color: white;
    font: 12pt 'Verdana';
}

Header>h1 {
    color: blue;
    text-shadow: 2px 2px white;
    font-size: 48pt;
}

nav {
    padding: 5px;
}


nav a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

header {
    padding-top: 50px;
}

.info-box {
    color: navy;
    background-color: whitesmoke;
    padding: 20px;
}

#news_table {
    width: 100%
    margin: 25px 0px;
}

#news_table th,
#news_table td {
    border: 2px solid white;
    padding: 5px;
}

#news_table th {
    color: lime;
}

.logo {
with: 100px;
}
